/* Gallery Styles */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.gallery-item {
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-item img {
  max-width: 100%;
  height: auto;
}

.gallery-item p {
  padding: 10px;
  text-align: center;
}